<nav class="navbar navbar-expand-lg navbar-dark bg-dark box-btm-gray">
  <a class="navbar-brand" href="#">
    ISF6040 v<sup>1</sup>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="_authService.loggedIn()">
        <a class="nav-link" routerLink="/main" routerLinkActive="active">Главная</a>
      </li>
      <li class="nav-item" *ngIf="_authService.loggedIn()">
        <a class="nav-link" routerLink="/user" routerLinkActive="active">Пайщик/Участник</a>
      </li>
      <li class="nav-item" *ngIf="_authService.loggedIn() && (_authService.isAdmin())">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active">Администратор</a>
      </li>
      <li class="nav-item" *ngIf="_authService.loggedIn() && (_authService.isOwner())">
        <a class="nav-link" routerLink="/owner" routerLinkActive="active">Учредитель</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Войти</a>
      <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Зарегистрироваться</a>
      <a class="nav-link ptr" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Выйти</a>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="page-footer bg-transparent font-small blue">
  <div class="footer-copyright text-center py-3">
    &copy; 2018 Investment Solutions of the Future: <a href="http://6040.is">6040.is</a>
  </div>
</footer>

