<div class="card-body cb-pd-btm">

  <div class="jumbotron jumbotron-pd white-block gr-border">
    <p>Для работы требуется установка дополнительного приложения:</p>
    <ul>
      <li>
        Из браузера &mdash; <a href="https://metamask.io/" target="blank"><strong>MetaMask</strong></a>
      </li>
      <li>
        С мобильного телефона &mdash; <a href="https://www.cipherbrowser.com/" target="blank"><strong>Сipher Browser</strong></a>
      </li>
    </ul>
  </div>

  <div class="jumbotron jumbotron-pd white-block gr-border">
    Название токена: {{name}} <br>
    Символ токена: {{symbol}} <br>
    Кол-во знаков после запятой: {{decimals}} <br>
    Адрес смарт-контракта: {{addressContract}} <br>
    Баланс контракта в Ethereum: {{balanceEtherContract}} (Ether)<br>
  </div>

  <div class="jumbotron jumbotron-pd jumbotron-mg-last white-block gr-border">
    Дополнительная информация про кооператив:
    <ul>
      <li>стоимость бонуса</li>
      <li>максимальная стоимость бонуса</li>
    </ul>
  </div>

</div>
